.container {
    text-align: center;
    width: 100%;
    justify-content: center;
}

.form-div {
    display: flex;
    justify-content: center;
}

.form-group {
    margin: 1.5em 0 0 0;
    text-align: left;
}

.form-group label {
    padding: 0 0 1.8rem 0;
    font-size: large;
    font-weight: 500;
}

.form-group input {
    width: 350px;
    height: 1.5rem;
    padding: 0 0 0 0.4rem;
}

.form-group input:hover {
    border: 2px solid rgb(180, 207, 180);
    height: 1.5rem;
    background-color: rgb(209, 221, 209);
}

.form-group button {
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    padding: 0.5rem 1rem;
    color: white;
    font-size: 18px;
    border: none;
    background-color: green;
}